body {
  //font-size: 1rem;
  font-family: "Noto Sans TC", sans-serif;
}

.wk {
  margin: 10px;
}
.header {
  div {
    display: inline-block;
  }
  input {
    height: 19px;
    width: 100px;
  }
  .sub {
    select {
      height: 25px;
      width: 60px;
      margin-left: 20px;
    }
    input {
      padding: 0px 2px 1px;
    }
  }
}
.main {
  display: inline-block;
  > ul {
    padding: 0px;
    margin: 0px;
    > li {
      list-style: none;
      //width: 200px;
      margin: 20px 20px;
      span {
        display: inline-block;
        //width: 100px;
        padding: 5px;
      }
    }
  }
  .sub {
    width: 150px;
  }
  li {
    list-style: none;
    span {
      &:last-child {
        display: inline-block;
        //width: 20px;
      }
    }
  }
}
.view {
  position: absolute;
  display: inline-block;
  margin: 20px 20px;
  .date {
    text-align: right;
    width: 100px;
  }
  .muscle {
    display: inline-block;
    width: 150px;
  }
  .unit {
    font-size: 0.5rem;
  }
  input:not([type="radio"]):not(.date) {
    text-align: right;
    width: 50px;
  }
  button {
    position: absolute;
    right: 0px;
  }
}
